.job-post {
  border: 2px solid #fdd5fd;
  padding: 1.5rem;
  display: grid;
  gap: 0.5rem;
  border-radius: 0.4rem;

  &__content {
    display: grid;
    gap: 0.6rem;
  }

  &__company {
    background-color: #fbeffb;
    border: 1px solid #fcd5fc;
    color: #df74df;
    padding: 0.5rem 2rem;
    border-radius: 10rem;
    justify-self: flex-start;
    display: flex;
    align-items: center;
    gap: 1rem;
    text-decoration: none;
    font-weight: bold;
    font-size: 1rem;
  }

  &__headings,
  &__row {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    gap: 2rem;
  }

  &__row {
    justify-content: flex-start;
    text-transform: capitalize;
    color: grey;
  }

  &__tags {
    display: flex;
    flex-wrap: wrap;
    justify-self: flex-end;
    gap: 1rem;
  }

  &__tag {
    background-color: rgb(241, 241, 241);
    font-size: 0.8rem;
    padding: 0.3rem 0.9rem;
    border-radius: 10rem;
    border: 1px solid rgb(225, 215, 234);
    color: grey;
  }
}
